section {
  display: flex;
  margin: 1rem;
  /* border: 1px solid #eee; */
  flex-wrap: wrap;

  .equation {
    width: 50%;
    /* min-width: 50%; */
    margin: 1rem 0;
    font-size: 1.5rem;

    span {
      margin: 0 0.5rem;
    }
  }
}
