.equation {
  font-size: 1.5rem;
  border: 1px solid #eee;
  margin: 1rem;
  padding: 0.5rem 0;

  span {
    margin: 0 1rem;
    min-width: 3rem;
    display: inline-block;
  }

  input[type="text"] {
    width: 6rem;
    margin-left: 1rem;
    border: none;
    border-bottom: 1px solid black;
  }
}
